.plusminuslist {
    list-style: none;
}

.plusitem {
    color: #f4ad42;
}

.minusitem {
    color: #6c94cc;
}

.plusitem:before {
    content: "+";
    margin-right: 4px;
}

.minusitem:before {
    content: "-";
    margin-right: 4px;
}

#keyword-list, #card-list {
    overflow-y: scroll;
    height: 90vh;
}